.root {
    flex-grow: 1;
}

.paper {
    padding: 2px;
    margin: 50px;
    max-width: 2500px;
}



.imageWrapper {
    max-width: 100px;
    max-height: 100px;
    padding-top: 90px;
}

.img {
    display: block;
    width: 300%;
    height: auto;
}

.item {
    background: #EAEAEA;
    min-height: 50vh;
}

.info {
    width: 50vw;
}

.description {
    color: #10263b;
    font-size: 22px;
}

.name {
    color: #10263b;
    font-weight: bold;
    font-size: 32px;
}

.seller {
    color: dodgerblue;
    font-size: 22px;
}

.city {
    color: dodgerblue;
    font-size: 22px;
}

.price {
    color: orangered;
    font-size: 22px;
    display: inline-block;
    padding-top: 30px;
}

.rent {
    font-size: 22px;
    
    
}

.renter {
    font-size: 22px;
}