.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 10vmin;
}

.App-navbar {
  background-color: #10263b;
}

.App-link {
  color: #09d3ac;
}

.Right {
  text-align: right;
  padding: 10px;
}

.Width {
  width: 50%;
}

div.Form {
  background-color: #10263b;
  color: white;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

a i {
  color: white;
}

Col{
  width: 5%;
}

.fas fa-search{
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}